* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    background-color: #0F172A;
    width: 100%;
    height: 398px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-1 {
    width: 80%;
    /* height: 380px; */
    /* background-color: aquamarine; */
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}

.container {
    width: 24%;
    /* height: 247px; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* background-color: blue; */
    color: rgb(206, 200, 200);
}

.top-up {
    margin-left: 7px;
    margin-bottom: 10px;
}

.content {
    display: flex;
    height: 200px;
    flex-direction: column;
    justify-content: space-between;
    overflow-wrap: break-word;
    font-family: 'Inter', sans-serif;
    /* background-color: blueviolet; */



}

.Icon-cont {
    display: flex;
    width: 250px;
    justify-content: space-between;
    align-items: center;
    /* background-color: red */
}

.icon {
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF1A;
    border-radius: 50%;
    gap: 10px;
    /* margin-right: 5px; */
}




.image-2 {
    display: flex;
    gap: 10px;
    /* background-color: antiquewhite; */
}

.image-2 img {
    height: 24px;
    width: 24px;
}

.container ul {
    /* background-color: antiquewhite; */
    /* width: 100%; */
    height: 85%;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    margin: 10px;
}

.container ul li {
    list-style-type: none;
    line-height: 24px;
}

.contact {
    line-height: 22px;
    /* background-color: aqua; */
}

ul li p {
    color: #94A3B8;
    font-size: 14px;
    /* width: 100%; */

}